<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.tigrao.github.repo">

    <application>
        <activity android:name="me.tigrao.github.pull.ui.PullActivity" >
            <intent-filter>
                <action android:name="me.tigrao.github.pull.ui.PullActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
