<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tigrao.github.repo">

    <application
        android:theme="@style/Theme.MyApp">
        <activity
            android:name="me.tigrao.github.repo.view.RepoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
